.channels {
  padding: 0;
  list-style-type: none;
}

.channels .channel {
  position: relative;
  width: 100%;
  padding: 10px 1rem;
  cursor: pointer;
  border-bottom: 1px solid #f0f4f8;
}

.channels .channel.active {
  background-color: #ffffff;
}

.channels .channel p.name {
  font-weight: 600;
  font-size: 0.85rem;
  display: inline-block;
}
