.card {
  border: 0;
  background: #f4f5fb;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  margin-bottom: 2rem;
  box-shadow: none;
}

.selection-container {
  position: relative;
  padding: 1rem 0;
  border-right: 1px solid #e6ecf3;
  height: 100%;
  display: flex;
  flex-direction: column;
}